<!DOCTYPE html>
<html>
<head>
  <title>Gradecentral</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Sing Out", destroy_user_session_path, method: :delete %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p>
<% if  !current_user.nil?%>
  <%= current_user.email + ' (' + current_user.roles.pluck(:name).join(",") + ')' %>
<% end %>
</p>

<%= yield %>

</body>
</html>
